/* Ismail Al Amir */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 1rem 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #737476;

}

::-webkit-scrollbar-thumb {
  background-color: #323637;
}


/* navbar */
nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 10;
}

.logo{
  width: 100%;
  height: 2rem;
}

.brand .container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-weight: 900;
  font-size: 1.7rem;
  text-transform: uppercase;

}


.toggle {
  display: none;

}


nav ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #212529;
  font-size: 1.2rem;
  transition: 100ms ease-in-out;
}

nav ul li a:hover {
  color: #8f2c2e;
}

nav ul li:first-of-type {
  color: #8f2c2e;
  font-weight: 900;
}


nav button {
  padding: 0.6rem 1rem;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  color: white;
  background-color: #B4393B;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: 300ms ease-in-out;
  /* font-weight: 900; */

}

nav button:hover {
  background-color: #8f2c2e;

}

.ResponsiveNav {
  right: 0;
  display: flex;
  position: absolute;
  z-index: 5;
  background-color: white;
  width: 100%;
  height: 30vh;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.ResponsiveNav ul {
  width: 80%;
  list-style-type: none;
}

.ResponsiveNav ul li {
  width: 100%;
  margin: 1rem 0;
  margin-left: 2rem;
}



.ResponsiveNav ul li a {
  text-decoration: none;
  color: #ca4043;
  font-size: 1.2rem;
  transition: 100ms ease-in-out;
}

.ResponsiveNav ul li a:hover {
  color: #8f2c2e;
}

.ResponsiveNav ul li:first-of-type {
  color: #8f2c2e;
  font-weight: 900;
}








/* hero section */


#Hero {
  position: relative;
  /* margin-top: 2rem; */
  height: 100%;
  width: 100%;
}

#Hero .background {
  height: 100%;
  /* its good to put it even if it is not change any thing */

}

#Hero .background>img {
  width: 100%;
  filter: brightness(60%);
}





/* Carousel hero */

#CarouselHero {
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;

}

.backgroundCarouselContainer {
  position: relative;

}

.backgroundCarousel .slick-slide img {
  width: 100%;
  height: 49rem;
  object-fit: cover;
  filter: brightness(60%);

}


.sliderr1 {
  width: 100% !important;
}

.imgBackgroundCarousel {
  position: relative;
text-align: left;

}
.imgBackgroundCarousel h1{
  font-weight: 900;
}


.infoCard {
  position: absolute;
  width: 20rem;
  top: 40%;
  left: 13%;
  z-index: 2;
  color :white !important;

}


.cardEle {
  width: auto !important;

}



.nestedCarousel {
  position: absolute;
  width: 100%;
  top: 28%;
  left: 45%;
  z-index: 2;

}



.sliderr {
  width: 60% !important;
}

.nestedCarousel .slick-slide img {
  border-radius: 3rem;
  width: 15rem;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0 2px 7px 7px;
  height: 23rem;
  margin-bottom: 1rem;

}


.pTilte {
  color: white;
  text-align: left;
}


#CarouselHero button {
  position: absolute !important;

}

.slick-prev {
  top: 115% !important;
  left: -1% !important;

}

.slick-next {
  top: 115% !important;
  left: 13% !important;

}


.slick-prev:before,
.slick-next:before {
  font-size: 50px !important;
}

.slick-dots {
  display: flex !important;
  flex-direction: column;
  position: absolute;
  left: -69%;
  bottom: 40% !important;
  width:auto !important;


}

.slick-dots li button:before {
  color: white !important;
  font-size: 1rem !important;
}

.slick-dots li {
  padding: 1rem 0 !important;
}


#Hero .content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

#Hero .title {
  color: white;
}

#Hero .title h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

#Hero .title p {
  text-align: center;
  padding: 0 30vw;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}


.search {
  display: flex;
  background-color: #ffffffce;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.search .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.5rem;
}

.search .container label {
  font-size: 1.1rem;
  color: #8f2c2e;
}

.search .container input {
  background-color: transparent;
  border: none;
  text-align: center;
  color: black;

}

.search .container input::placeholder {
  color: black;

}

.search .container input:focus {
  outline: none;
}

.search button {
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  color: white;
  background-color: #4361ee;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: 300ms ease-in-out
}

.search button:hover {
  background-color: #023e8a;
}






/* Recommended */

#Recommended {
  padding: 2rem 0;
}

.titleRec {
  text-align: center;
}

.packages {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.packages ul {
  display: flex;
  list-style-type: none;
  width: max-content;
}

.packages ul li {
  padding: 1rem 2rem;
  border-bottom: 0.1rem solid black;
}

.activePkg {
  border-bottom: 0.5rem solid #B4393B !important;
}



.destinations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 0 3rem;
}

.destination {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #21252924;
  border-radius: 1rem;
  transition: 300ms ease-in-out;
  box-shadow: rgba(111, 100, 100, 0.2) 0 7px 29px 0;

}

.destination:hover {
  transform: translateX(0.4rem) translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 35px;
}

.destination img {
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services {
  display: flex;
  gap: 0.3rem;
}

.services img {
  width: 2rem;
  border-radius: 1rem;
  background-color: #B4393B;
  padding: 0.2rem 0.4rem;
}

.distance {
  display: flex;
  justify-content: space-between;
}


/* services */
#Services {
  padding: 5rem 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}



.service {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: #21252924;
  box-shadow: rgba(111, 100, 100, 0.2) 0 7px 29px 0;
  transition: 300ms ease-in-out;
}

.service:hover {
  transform: translateX(0.4rem) translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 35px;
}

.icon {
  font-size: 2.4rem;
  color: #B4393B;
}





/* Testimonials */
#Testimonials {
  margin: 5rem 0;
}

#Testimonials .title {
  text-align: center;
  margin-bottom: 2rem;
}

.testimonials {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
  gap: 2rem;
}

.testimonial {
  background-color: #21252924;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(111, 100, 100, 0.2) 0 7px 29px 0;
  transition: 0.3s ease-in-out;
}

.testimonial:hover {
  transform: translateX(0.4rem) translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 35px;

}

.testimonial .info {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.avatar {
  font-size: 3rem;

}

.detalis span {
  font-size: 0.9rem;
}







/* Scroll To Top  */


.ToTop {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 10;
  cursor: pointer;
  border-radius: 2rem;
  padding: 1rem;
}

.ToTop img {
  height: 1.5rem;
}




/* footer */
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #21252948;
  padding: 2.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

footer ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

footer ul li a {
  text-decoration: none;
  color: #212529;
  transition: 300s ease-in-out;
}

footer ul li svg {
  cursor: pointer;
  font-size: 1.3rem;
  transition: 300ms ease-in-out;
}

footer ul li svg:hover {
  color: #B4393B;
}

footer ul li a:hover{
  color: #B4393B !important;
}






























/* media  */

@media screen and (min-width:720px) and (max-width:1080px) {}

/* navbar media */

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo{
      width: 2rem;
  }

  .toggle {
    display: block;

  }

  nav ul,
  nav button {
    display: none;
  }

  /* Services media  */
  #Services {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* hero media  */

@media screen and (min-width:280px) and (max-width:980px) {
  #Hero {
    height: 25rem;
  }

  #Hero .background {
    background-color: white;
  }

  #Hero .background img {
    height: 100%;
  }

  #Hero .content p {
    font-size: 0.8rem;
    padding: 1vw;
  }

  #Hero .content h1 {
    font-size: 1rem;
  }

  .search {
    flex-direction: column;
    padding: 0.8rem;
    gap: 0.8rem;
  }

  .search.container {
    padding: 0 0.8rem;
  }

  .search .container input[type='date'] {
    padding-left: 1rem;
  }

  .search button {
    padding: 1rem;
    font-size: 1rem;

  }

}



/* Carousel media */

@media screen and (min-width:280px) and (max-width:1080px) {


  .nestedCarousel{
    display: none;
  }

  .backgroundCarousel .slick-slide img {

  filter: brightness(80%);


  }

}

/* Recommended media */
/* testimonials media */


@media screen and (min-width:280px) and (max-width:768px) {

  
  .packages ul li {
    padding: 0 0.5rem;
    font-size: 2vh;
    padding-bottom: 1rem;
  }

  .active {
    border-bottom-width: 0.3rem;
  }

  .destinations {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .testimonials {
    flex-direction: column;
    margin: 0;
  }

  .testimonial {
    justify-content: center;
  }

  .testimonial .info {
    flex-direction: column;
    justify-content: center;
  }

}



/* footer media  */
@media screen and (min-width:280px) and (max-width:1024px) {
  footer {
    flex-direction: column;
    gap: 2rem;

  }

  footer ul {
    flex-direction: column;
  }

  .social {
    flex-direction: row;
  }
}

/* Services media */
@media screen and (min-width:280px) and (max-width:720px) {
  #Services {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}


/* Ismail Al Amir */